<h1>SUPPORT US</h1>
You can join us and our supporters in innovating and sharing our knowledge about sailing robots:

<h2>Sponsor Us</h2>


In return you are not only contributing to research and public interest in sustainable transport and awareness of our oceans, we will also add you to our supporters page which is featured on our website and in all our presentations and outreach work reaching thousands of readers and visitors. Depending on your contribution we can give you more exposure by writing an update about your contribution, add your logo on our team shirts or even on our boat.
To be able to compete in the 2017 Championship we need transport for ourselves, our boat and plenty of spares.

<h2>Donate sailing robot parts</h2>

Our experience last year shows that a sailing robot needs continuous repairs and replacements. We are currently especially looking for waterproof motors and waterproof connectors.

Besides knowing that your parts are vital for our boats function, and lovingly cared for by us, we offer you the same returns as sponsors.

<h2>Invite us for outreach events &amp; presentations</h2>

We love to get everyone excited about sailing robots, and are prepared with outreach posters, experience in presentations and even some interactive sailing games for all ages.

<h2>Tell others about our work</h2>

One of our main goals is to create more awareness of our oceans and the challenges of robotic sailing, help us spread the word!



Don’t hesitate to contact us to discuss your ideas for getting involved.
